#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

/*.ant-form {*/
/*    width: 70%;*/
/*    display: inline-block;*/
/*}*/