.button-check-answer {
    padding: 2%;
    position: fixed;
    right: 38px;
    bottom: 100px;
    flex-direction: column;
    z-index: 2147483640;
    line-height: 0.5715
}

.ant-radio-wrapper {
    padding-top: 5%;
}

.ant-transfer-list-body {
    font-size: 17px;
}

.ant-transfer-list-header-selected {
    color: #00000000
}
.ant-transfer-list-header-title {
    color: #000000d9;
}

.ant-avatar {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.radio-wrapper {
    display: inline;
}

.radio-button {
    width: 45%;
}


.col-code {
    text-align: initial;
}